.search-section{
    width: 100%;
    position: absolute;
}
.search-input{
    display: inline-block;
    position: absolute;
    left: 0%;
    max-width: 70%;
}
.search-button{
    display: inline-block;
    height: 40px;
    position: absolute;
    right: 100px;
}